body {
  box-sizing: border-box;
}
#color-palette {
  margin-left: 0;
  display: flex;
  width: 200px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#pixel-board {
  height: auto;
  width: auto;
  margin-top: 10px;
  display: flex;
  flex-direction:column;
}

.line {
  display: flex;
  width: auto;
  height: 40px;  
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
}