* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('src/image/9bc27292880429.5e569ff84e4d0.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

#color-palette {
  margin-left: 0;
  display: flex;
  width: 200px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.color:hover {
  filter: brightness(60%);
}

#clear-board {
  margin-top: 0;
  margin-left: 0;
  padding: 5px;
  background-color: #d24dff;
  border: 2px;
  width: 80px;
  color: white;
}

#board-size {
  width: 40px;
}

#pixel-board {
  height: auto;
  width: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  width: auto;
  height: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: center;
}

input {
  height: 20px;
  margin-left: 10px;
}

#generate-board {
  height: 23px;
  width: 45px;
  margin-left: 5px;
  border: 2px;
  background-color: #00d6ff;
}

h1 , p {
  color: black;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 555px;
  max-height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  background-color:rgb(102,0,107);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  font-family: 'Rubik';
}

p {
  color: white;
  font-size: 17px;
  font-family: 'Rubik';
}

button {
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(60%);
}

#container {
  background: linear-gradient(50deg, rgba(255, 255, 255, 0.3)
  12%, rgba(255, 255, 255, 0.3) 77%);
  box-shadow: 0 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 80px;
  height: 80px;
}
